<div class="row">
  <div class="col-sm-12">
    Nav Bar
  </div>
</div>

<div class="row middle">
  <div class="col-sm-12">
    <img class="center-block" src="images/dreamcatcher4.png">
  </div>
</div

<div class="row">
  <div class="col-sm-12">
    <h1 class="normal white-text center-block">DreamCatcher</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm"></div>
  <div class="col-sm"></div>
  <div class="col-sm"></div>
  <div class="col-md"><a class="btn btn-outline-light round center-block" href="/signup" role="button">Sign Up</a></div>
  <div class="col-md"><a class="btn btn-outline-light round center-block" href="/login" role="button">Log In</a></div>
  <div class="col-sm"></div>
  <div class="col-sm"></div>
  <div class="col-sm"></div>
</div>
