<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <title>DreamCatcher | The Online Dream Journal</title>
  </head>
  <body>
  	<div class="container">
      <% if logged_in? %>
        <div class="row">
          <div class="col-sm-12">
            Nav Bar
          </div>
        </div>
      <% end %>

      <% if flash.has?(:error) %>
        <div class="row">
          <div class="col-sm-12 error">
            <div class="error">
              <%= flash[:error] %>
            </div>
          </div>
        </div>
      <% end %>

      <% if flash.has?(:success) %>
        <div class="row">
          <div class="col-sm-12 success">
            <div class="success">
              <%= flash[:success] %>
            </div>
          </div>
        </div>
      <% end %>

      <%= yield %>

      <footer class="footer">
        <div class="container">
          <div class="row center-block">Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        </div>
      </footer>

  	</div> <!-- Container -->


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
