<div class="vertical-center justify-content-center">
  <div class="col-md-8 bg-light text-dark pad align-middle">
    <h3>Log In</h3>

    <form action="/login" method="post">

      <div class="form-group">
        <label for="emailinput">Email address</label>
        <input type="email" class="form-control" name="user[email]" id="emailinput" aria-describedby="emailHelp" placeholder="Enter email" required>
      </div>

      <div class="form-group">
        <label for="InputPassword1">Password</label>
        <input type="password" class="form-control" name="user[password]" id="InputPassword1" placeholder="Password" required>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary">Log In</button>
        <a href="/" class="btn btn-secondary" role="button">Cancel</a><br>
      </div>
    </form>
  </div>
</div>
